body {
     color: darkslateblue;
     text-decoration-color: red;
     font-size: 18px;
    line-height: .9em;
     padding: 17px;
 }
p {
    color: red;
    font-size: 28px;
    text-align: center;
}
span {
    color: darkmagenta;
    text-transform: uppercase;
}
a {
      color: darkcyan;
      font-size: 20px;
}
.rsewder {
    color: yellowgreen;
    font-size: 22px;
    padding-bottom: 17px;
    padding-left: 25px;
}
eqwder {
    color: yellow;
    font-size: 22px;
    padding-bottom: 17px;
    padding-left: 25px;
}
.feature-kitten {
    padding-top: 60px;                        /* отступ сверху */
    background-image: url("../img/bottle.jpg");  /* фоновая картинка */
}

.button {
    background-color: green;
    color: white;
    font-size: 18px;
    border: 3px yellow solid;
}
.new {
    text-align: center;
}
svg {
    border: darkmagenta 2px solid;
}